#sbTitle a:link {width: 743px; height: 15px; padding-bottom: 5px; padding-left: 1px; font-size: 12px; font-weight: bold; color: #000000}
#sbTitle a:hover {width: 743px; height: 15px; padding-bottom: 5px; padding-left: 1px; font-size: 12px; font-weight: bold; color: #000000}
#sbTitle a:visited {width: 743px; height: 15px; padding-bottom: 5px; padding-left: 1px; font-size: 12px; font-weight: bold; color: #000000}

#legend {width: 740px; height: 24px; padding-top: 5px; padding-left: 1px;}

#LSData {width: 156px; height: 26px; position: absolute; top: 16px; padding: 1px; border: 1px solid #CCCCCC;}
#awaySide {position: absolute; top: 13px; left: 99px; width: 70px;}
#homeSide {position: absolute; top: 13px; left: 577px; width: 70px;}

#awayPossession {position: absolute; top: 34px; left: 172px;}
#homePossession {position: absolute; top: 34px; left: 562px;}

/*
.sbRow { height: 32px;}
*/
.sbBox { position: relative; padding: 1px; float: left; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #333333;}
.sbGame { width:100px; height:28px; border: 1px solid #CCCCCC; background-color: #F2F2F2}

.regScoreAway { position: absolute; left: 33px; top: 5px; padding-left: 1px; font-weight: bold; z-index: 4;}
.regScoreHome { position: absolute; left: 33px; top: 16px; padding-left: 1px; font-weight: bold; z-index: 4;}
.newScoreAway { position: absolute; left: 33px; top: 5px; padding-left: 1px; background-color: #29551F; color: #FFFFFF; font-weight: bold; z-index: 4;}
.newScoreHome { position: absolute; left: 33px; top: 16px; padding-left: 1px; background-color: #29551F; color: #FFFFFF; font-weight: bold; z-index: 4;}

.regNameAway { position: absolute; left: 4px; top: 5px; padding-left: 1px; font-weight: bold; z-index: 4;}
.regNameHome { position: absolute; left: 4px; top: 16px; padding-left: 1px; font-weight: bold; z-index: 4;}
.newNameAway { position: absolute; left: 4px; top: 5px; padding-left: 1px; background-color: #29551F; color: #FFFFFF; font-weight: bold; z-index: 4;}
.newNameHome { position: absolute; left: 4px; top: 16px; padding-left: 1px; background-color: #29551F; color: #FFFFFF; font-weight: bold; z-index: 4;}

.sbClock {position: absolute; left: 62px; top: 5px; font-weight: normal; font-size: 10px; z-index: 4}
.sbQtr {position: absolute; left: 62px; top: 16px; font-weight: normal; font-size: 10px; z-index: 4}
.sbStart {position: absolute; left: 62px; top: 5px; width: 39px; font-weight: normal; font-size: 10px; z-index: 4;}
.sbFinal {position: absolute; left: 59px; top: 5px; font-weight: normal; font-size: 10px; z-index: 4;}

.possessionAway { position: absolute; left: 30px; top: 8px; z-index: 4;}
.possessionHome { position: absolute; left: 30px; top: 19px; z-index: 4;}

.winnerAway { position: absolute; left: 58px; top: 5px; z-index: 4;}
.winnerHome { position: absolute; left: 58px; top: 16px; z-index: 4;}

.keyRZ {border: 1px solid #CE0000;}
.keyScored {padding-left: 1px; background-color: #29551F; color: #FFFFFF; font-weight: bold;}


/* link styles */
a.sbLast:link {color: #29551F; text-decoration: none; font-weight: bold;}
a.sbLast:visited {color: #29551F; text-decoration: none; font-weight: bold;}
a.sbLast:hover {color: #29551F; text-decoration: underline; font-weight: bold;}




